<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614409845258-lrsppppnk5t9igm7dbdb0c8movv9tjsi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614409845258-lrsppppnk5t9igm7dbdb0c8movv9tjsi</string>
	<key>API_KEY</key>
	<string>AIzaSyAUzuO5adQt2SmM3ZiooHnSLWAgotKOP8A</string>
	<key>GCM_SENDER_ID</key>
	<string>614409845258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luminar.samplefirebase</string>
	<key>PROJECT_ID</key>
	<string>glass-mantra-377204</string>
	<key>STORAGE_BUCKET</key>
	<string>glass-mantra-377204.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614409845258:ios:00163ad1136aea08f7fdf3</string>
</dict>
</plist>